<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginControl</servlet-name>
        <servlet-class>control.loginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeControl</servlet-name>
        <servlet-class>control.homeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addControl</servlet-name>
        <servlet-class>addControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>control.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaControl</servlet-name>
        <servlet-class>control.xoaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editControl</servlet-name>
        <servlet-class>control.editControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>find</servlet-name>
        <servlet-class>control.find</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addController</servlet-name>
        <servlet-class>control.addController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phongControl</servlet-name>
        <servlet-class>control.phongControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homePhong</servlet-name>
        <servlet-class>control.homePhong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>headerControl</servlet-name>
        <servlet-class>control.headerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPhong</servlet-name>
        <servlet-class>control.editPhong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaPhong</servlet-name>
        <servlet-class>control.xoaPhong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phong</servlet-name>
        <servlet-class>control.phong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeControl1</servlet-name>
        <servlet-class>control.homeControl1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phongControl1</servlet-name>
        <servlet-class>control.phongControl1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dongtienControl</servlet-name>
        <servlet-class>control.dongtienControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phongControl2</servlet-name>
        <servlet-class>control.phongControl2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPhong</servlet-name>
        <servlet-class>control.addPhong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timFull</servlet-name>
        <servlet-class>control.timFull</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svPhong</servlet-name>
        <servlet-class>control.svPhong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svPhong1</servlet-name>
        <servlet-class>control.svPhong1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themsvPhong</servlet-name>
        <servlet-class>control.themsvPhong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsSvPhong</servlet-name>
        <servlet-class>control.dsSvPhong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dangki</servlet-name>
        <servlet-class>control.dangki</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSoluong</servlet-name>
        <servlet-class>control.updateSoluong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaSvPhong</servlet-name>
        <servlet-class>control.xoaSvPhong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chuyenPhong</servlet-name>
        <servlet-class>control.chuyenPhong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phiPhong</servlet-name>
        <servlet-class>control.phiPhong</servlet-class>
        <init-param>
            <param-name>relativePathToFile</param-name>
            <param-value>/WEB-INF/luufile.txt</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>luufile</servlet-name>
        <servlet-class>control.luufile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>control.adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDangki</servlet-name>
        <servlet-class>control.adminDangki</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nhanvienHome</servlet-name>
        <servlet-class>control.nhanvienHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nhanvienFind</servlet-name>
        <servlet-class>control.nhanvienFind</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>control.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nhanvienPhong</servlet-name>
        <servlet-class>control.nhanvienPhong</servlet-class>
    </servlet>
 
    <servlet>
        <servlet-name>nhanvienFindphong</servlet-name>
        <servlet-class>control.nhanvienFindphong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nhanvienTimfull</servlet-name>
        <servlet-class>control.nhanvienTimfull</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nhanvienNhapphong</servlet-name>
        <servlet-class>control.nhanvienNhapphong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nhanvienDssvPhong</servlet-name>
        <servlet-class>control.nhanvienDssvPhong</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoaControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editControl</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>find</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addController</servlet-name>
        <url-pattern>/addController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phongControl</servlet-name>
        <url-pattern>/phongControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homePhong</servlet-name>
        <url-pattern>/homePhong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>headerControl</servlet-name>
        <url-pattern>/headerControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPhong</servlet-name>
        <url-pattern>/editPhong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoaPhong</servlet-name>
        <url-pattern>/xoaPhong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phong</servlet-name>
        <url-pattern>/phong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeControl1</servlet-name>
        <url-pattern>/homeControl1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phongControl1</servlet-name>
        <url-pattern>/phong1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dongtienControl</servlet-name>
        <url-pattern>/dongtienControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phongControl2</servlet-name>
        <url-pattern>/phongControl2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPhong</servlet-name>
        <url-pattern>/addPhong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timFull</servlet-name>
        <url-pattern>/timFull</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svPhong</servlet-name>
        <url-pattern>/svPhong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svPhong1</servlet-name>
        <url-pattern>/svPhong1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themsvPhong</servlet-name>
        <url-pattern>/themsvPhong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsSvPhong</servlet-name>
        <url-pattern>/dsSvPhong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dangki</servlet-name>
        <url-pattern>/dangki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSoluong</servlet-name>
        <url-pattern>/updateSoluong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoaSvPhong</servlet-name>
        <url-pattern>/xoaSvPhong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chuyenPhong</servlet-name>
        <url-pattern>/chuyenPhong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phiPhong</servlet-name>
        <url-pattern>/phiPhong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>luufile</servlet-name>
        <url-pattern>/luufile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDangki</servlet-name>
        <url-pattern>/adminDangki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nhanvienHome</servlet-name>
        <url-pattern>/nhanvienHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nhanvienFind</servlet-name>
        <url-pattern>/nhanvienFind</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nhanvienPhong</servlet-name>
        <url-pattern>/nhanvienPhong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nhanvienFindphong</servlet-name>
        <url-pattern>/nhanvienFindphong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nhanvienTimfull</servlet-name>
        <url-pattern>/nhanvienTimfull</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nhanvienNhapphong</servlet-name>
        <url-pattern>/nhanvienNhapphong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nhanvienDssvPhong</servlet-name>
        <url-pattern>/nhanvienDssvPhong</url-pattern>
    </servlet-mapping>
  
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>phanquyen.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>
